{% extends 'users/base_doctor.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Patient</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th, td {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>My Patient</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
                <tr>
                    <td>{{ patient.user.first_name }}</td>
                    <td>{{ patient.user.last_name }}</td>
                    <td>{{ patient.user.email }}</td>
                    <td>{{ patient.date_of_birth }}</td>
                    <td><a href="{% url 'add_visit' patient.id %}">new visit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

{% endblock %}